body {
  margin:0px;
  padding:0px;
  font: 13px/1.6 Tahoma, sans-serif;
  background: #F5F5F5;
}

#contenedor {
  //font-weight: bold;
  background: #FFF;
  margin:2em auto;
  position: relative;
  padding: 1em;
  width: 600px;
  height:100%;
}
h2 {
  font: normal 2em arial, sans-serif;
  margin:0;
}
table.t1{
   
   text-align: right;
   //padding:30px;
    
}
